<!doctype html>
<html>
    <head>
        <title>Patients Signatures</title>
    </head>
    <body>
        <h1>Patient # {{ patient_id }} signatures</h1>
        <table>
            <tr>
              <td>mhci</td>
              <td>{{ mhci }}</td>
            </tr>
            <tr>
              <td>mhcii</td>
              <td>{{ mhcii }}</td>
            </tr>
            <tr>
              <td>coactivation_molecules</td>
              <td>{{ coactivation_molecules }}</td>
            </tr>
            <tr>
              <td>effector_cells</td>
              <td>{{ effector_cells }}</td>
            </tr>
            <tr>
              <td>t_cell_traffic</td>
              <td>{{ t_cell_traffic }}</td>
            </tr>
            <tr>
              <td>nk_cells</td>
              <td>{{ nk_cells }}</td>
            </tr>
            <tr>
              <td>t_cells</td>
              <td>{{ t_cells }}</td>
            </tr>
            <tr>
              <td>b_cells</td>
              <td>{{ b_cells }}</td>
            </tr>
            <tr>
              <td>m1_signatures</td>
              <td>{{ m1_signatures }}</td>
            </tr>
            <tr>
              <td>th1_signature</td>
              <td>{{ th1_signature }}</td>
            </tr>
            <tr>
              <td>antitumor_cytokines</td>
              <td>{{ antitumor_cytokines }}</td>
            </tr>
            <tr>
              <td>checkpoint_inhibition</td>
              <td>{{ checkpoint_inhibition }}</td>
            </tr>
            <tr>
              <td>treg</td>
              <td>{{ treg}}</td>
            </tr>
            <tr>
              <td>t_reg_traffic</td>
              <td>{{ t_reg_traffic }}</td>
            </tr>
            <tr>
              <td>neutrophil_signature</td>
              <td>{{ neutrophil_signature }}</td>
            </tr>
            <tr>
              <td>granulocyte_traffic</td>
              <td>{{ granulocyte_traffic }}</td>
            </tr>
            <tr>
              <td>mdsc</td>
              <td>{{ mdsc }}</td>
            </tr>
            <tr>
              <td>mdsc_traffic</td>
              <td>{{ mdsc_traffic }}</td>
            </tr>
            <tr>
              <td>macrophages</td>
              <td>{{ macrophages }}</td>
            </tr>
            <tr>
              <td>macrophage_dc_traffic</td>
              <td>{{ macrophage_dc_traffic }}</td>
            </tr>
            <tr>
              <td>th2_signature</td>
              <td>{{ th2_signature }}</td>
            </tr>
            <tr>
              <td>protumor_cytokines</td>
              <td>{{ protumor_cytokines }}</td>
            </tr>
            <tr>
              <td>caf</td>
              <td>{{ caf }}</td>
            </tr>
            <tr>
              <td>matrix</td>
              <td>{{ matrix }}</td>
            </tr>
            <tr>
              <td>matrix_remodeling</td>
              <td>{{ matrix_remodeling }}</td>
            </tr>
            <tr>
              <td>angiogenesis</td>
              <td>{{ angiogenesis }}</td>
            </tr>
            <tr>
              <td>endothelium</td>
              <td>{{ endothelium }}</td>
            </tr>
            <tr>
              <td>proliferation_rate</td>
              <td>{{ proliferation_rate }}</td>
            </tr>
            <tr>
              <td>emt_signature</td>
              <td>{{ emt_signature }}</td>
            </tr>
          </table>
    </body>
</html>